.taskbar-main {
    width: 100%;
    height: 30px;
    padding-top: 2px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //margin-top: auto;
}

.taskbar-title {
    font-family: Papyrus;
    padding-left: 15px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

.taskbar-date {
    float: right;
    padding-right: 15px;
    color: #240b36;
    font-weight: bold;
    font-family: Papyrus;
    cursor: default;
}

.taskbar-time {
    float: right;
    padding-right: 15px;
    color: #240b36;
    font-weight: bold;
    font-family: Papyrus;
    cursor: default;
}

.taskbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #240b36;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(255,0,0,0.1);
    padding: 12px 16px;
    margin-left: 5px;
    color: red;
    border-style: none;
    cursor:pointer;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.taskbar-dropdown:hover .taskbar-dropdown-content {
    display: block;
    animation: fadeIn 0.2s
}
