.icon-main {
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 30px;
    text-align: center;
    padding-top: 7px;
    cursor:pointer;
}

.icon-main:hover {
    background: rgba(195, 20, 50, 0.2);
    background-size: 100% 100%;
}

.icon-pic {
    width: 30px;
    height: 30px;
    margin: auto;
    //background-image: url('../../assets/icons/cameraIcon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

.icon-text {
    color: red;
    padding-top: 5px;
    font-family: Papyrus;
}