.notepad-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.notepad-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: #154360;
    border-style: none;
    outline: none;
    font-size: 17px;
    color: #db9b1c;
    border-top: solid 4px #401313;
}

.notepad-button {
    width: 80px;
    position: absolute;
    top: 90%;
    left: 2%;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align: center;
    padding: 5px;
    border: 1px solid #240b36;
    font-size: 15px;
    font-weight: bold;
    font-family: Papyrus;
    color: #db9b1c;
}

.notepad-button:hover {
    color: red;
}