.table-files {
    width: 100%;
    //border-collapse: collapse;
}

.table-files td, th {
    border-bottom: 1px solid;
    padding: 5px;
    font-family: Consolas;
    text-align: center;
    cursor: pointer;
}

.files-context-menu {
    position: absolute;
}
