.table-files {
    width: 100%;
}

.table-files td, th {
    border-bottom: 1px solid black;
    padding: 5px;
    font-family: Consolas;
    text-align: center;
    cursor: pointer;
    color: #db9b1c;
}

.files-main {
    overflow: auto;
    height: 100%;
}
