.window-main {
    border-style: solid;
    border-width: 4px;
    border-color: #240b36;
    width: 470px;
    height: 500px;
    //top: 50%;
    //left: 50%;
    //right: 0;
    //bottom: 0;
    //margin: auto;
    position: absolute;
    resize: both;
    overflow: auto;
    background-color: #0fbb9f;
    display: flex;
    flex-direction: column;
}


.window-header {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432);
    padding: 3px;
    color: red;
    cursor: default;
    height: 25px;
    font-family: Papyrus;
    font-weight: bold;
}

.window-close {
    float: right;
    color: #240b36;
    font-weight: bold;
    margin-right: 5px;
    width: 20px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}

.window-body {
    height: 93%;
}

.window-footer {
    
}