.desktop-main {
    background-image: url("../../assets/images/sauronLogo.png"), url("../../assets/images/sauron.jpg");
    background-size: 600px 700px, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}